* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace, sans-serif;
  text-align: center;

  font-size: 1.5vw;
  color: #000000;
  text-align: center;
  text-justify: center;

  line-height: 161%;
  text-shadow: 2px 2px #00000022;
}

p2 {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace, sans-serif;
  text-align: center;

  font-size: 1.5vw;
  color: #000000;
  text-align: center;
  text-justify: center;

  line-height: 161%;
}

/* p2 {
  font-family: "Space Mono", monospace, sans-serif;
  text-justify: center;
  text-shadow: 2px 2px #0000004a;
} */

html {
  scroll-behavior: smooth;
}

.shadow {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* Similar syntax to box-shadow */
}

body {
  font-family: Space Mono;
  max-width: device-width;
  margin: auto;
  background-color: #2bcfd9;
  color: #207191;
}

@media (min-width: 1313px) {
  body {
    font-size: 140%;
  }
}

@media (max-width: 1600px) {
  body {
    font-size: 120%;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 110%;
  }
}

@media (max-width: 688px) {
  body {
    font-size: 100%;
  }
}

nav {
  display: flex;
  justify-items: center;
  align-items: center;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

main {
  max-width: 1400px;
  margin: auto;
}

.hero-container {
  width: 99.2%;
  display: flex;
  align-items: center;
  margin-top: 0px;
  position: relative;
  max-width: 1400px;
}
.hero-container2,
td2 {
  text-align: center;
  margin: 0px;
  padding-right: 50px;
  font-size: 2.5vw;
  color: white;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  margin-left: 28%;
  line-height: 120%;
}

.hero-container .btn {
  position: absolute;
  margin: auto;
  top: 52%;
  left: 75.9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffe171;
  color: #000000;
  font-size: 1.5vw;
  padding: 1vw 6vw;
  border: none;
  cursor: pointer;

  text-align: center;
}

.hero-container .btn:hover {
  position: absolute;
  margin: auto;
  top: 52%;
  left: 75.9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffe171;
  color: #ffffff;
  font-size: 1.5vw;
  padding: 1vw 6vw;
  border: none;
  cursor: pointer;

  text-align: center;
}

.ant-btn-primary {
  color: #000000;
  border-width: 0px;
  background-color: rgb(253 224 71);
}
.ant-btn-primary:hover {
  color: #000000;
  background: #55ffd7;
}
.ant-btn-primary:focus {
  color: #000000;
  background-color: #ffe171;
}

.signing {
  font-style: italic;
  font-family: "Space Mono", monospace, sans-serif;
  text-align: center;
  margin: 0px;
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
  text-justify: center;
  margin-top: 4px;

  line-height: 161%;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: 50px;
  text-align: center;
  margin: 0px;
}

h3 {
  font-family: "Space Mono", monospace, sans-serif;
  text-align: center;
  margin: 0px;
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
  text-justify: center;
  margin-top: 4px;

  line-height: 161%;
}

h4 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  font-size: 4vw;
  color: #207191;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  line-height: 120%;
}

h5 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  font-size: 8vw;
  color: #ffe171;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  line-height: 120%;
}

h6 {
  text-align: center;
  margin: 0px;
  font-size: 3vw;
  color: #ffe171;
  text-align: center;
  text-justify: center;
  margin-top: 4px;

  line-height: 161%;
}

.coordination-party-hero-description {
  width: 0 auto;
  margin: 0 auto;
}

.coordination-party-hero-description .title {
  font-family: "Space Mono", monospace, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  font-size: 4vw;
  color: #0e0333;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  line-height: 120%;
}

a {
  color: #fde047;
}

a:hover {
  color: #5bf1cd;
}

.modified-item:hover {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: #fff871;
  border-bottom: 2px solid transparent !important;
}

/* .ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-submenu-selected,
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: #fff871;
  border-bottom: 2px solid transparent !important;
} */

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #000000;
}

.ant-menu-horizontal > .ant-menu-item {
  color: #000000;
}

.ant-menu-vertical > .ant-menu-item {
  color: #000000;
}

.ant-menu-item a {
  color: rgba(230, 204, 204, 0.85);
}

.footer-container {
  position: relative;
  top: -25vw;
  z-index: 1;
}

.ant-table-thead > tr > th {
  color: black;
  background: #7ee6cd;
}

.ant-table table {
  font-size: 1.8vw;
}

/* //Modify list text and background color   */
.ant-table-tbody > tr > th {
  color: white;
  background: #3071b9;
}

/* .ant-table-thead {
  background-color: rgb(127, 127, 127);
} */

.pledge-container {
  position: relative;

  top: -25vw;
  z-index: 1;
}

.pledge-container2 {
  position: relative;
  padding-left: 25%;
  top: -25vw;
  z-index: 1;
}

.gitcoin-brand {
  display: flex;
  padding-top: 70px;
  padding-bottom: 154px;
  padding-right: 35px;
  padding-left: 35px;
  justify-content: center;
  align-items: center;
}

.gitcoin-brand img {
  width: 178px;
}

/* Form Styles */
.form {
  display: flex;
  max-width: 478px;
  flex-direction: column;
  place-items: center;
  font-family: Space Mono, sans-serif;
}

label {
  color: #ffffff;
}

.form2 {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
  flex-direction: column;
  place-items: center;
  font-family: Space Mono, sans-serif;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

input {
  margin-top: 5px;
  background: #31dbe5;
  border: 1px solid #207191;
  border-radius: 8px;
  outline: none;
  text-align: center;
  font-size: 30px;
  font-size: 2.5vw;
  font-family: Space Mono, sans-serif;
  color: #ffffff;
  background: #31dbe5;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.ant-modal-footer {
  background-color: #7ee6cd;
}

.ant-modal-header {
  background-color: #75d5be;
}

.form input {
  height: 100%;
  background: #31dbe5;
  border: 1px solid #207191;
  border-radius: 8px;
  outline: none;
  text-align: center;
  font-size: 2.5vw;
  font-family: Space Mono, sans-serif;
  color: #ffffff;
  background: #31dbe5;
}

hover {
  background-color: #02e2ac;
  border-color: #02e2ac;
}

.form input::placeholder {
  color: #02e2ac;
  font-family: Space Mono, sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  text-align: center;
}

input::placeholder {
  color: #ffffff;
  font-family: Space Mono, sans-serif;
  font-style: normal;
  font-size: 2vw;
  text-align: center;
}

.buttons-green-pill {
  width: 100%;
  display: flex;
  margin-top: 48px;
}

.buttons-green-pill a {
  color: #6f3ff5;
}

/* first button*/
.buttons-green-pill button:first-child {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.buttons-green-pill button:first-child img {
  width: 13px;
  height: 13px;
  margin-right: 13px;
}

/* second button */

.buttons-green-pill button:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  height: 60px;
  background: #02e2ac;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.buttons-green-pill button:last-child img {
  width: 30px;
  height: 30px;
  margin-right: 22px;
  margin-left: 26px;
}

.buttons-green-pill button:last-child p {
  width: 67px;
  height: 24px;
  font-family: Libre Franklin, Arial, Space Mono, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #e6fff9;
  margin-right: 38px;
}

/* End */

/* GreenPill */
.background-bubble {
  max-width: 1400px auto;
  background-image: url(../image/reee.svg);
  background-color: #2bcfd9;
}

.background-greenpill {
  background-image: url(../image/background-greenpill.svg);
}

/* Responsive Style */

@media (max-width: 1280px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .coordination-hero-description {
    margin: 0;
  }

  .coordination-hero-description .title {
    font-size: 64px;
    text-align: center;
    justify-content: center;
    color: #ffcc00;
  }
}

@media (max-width: 760px) {
  .form label {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .coordination-party-hero-description {
    width: auto;
  }

  .coordination-party-hero-description .title {
    text-align: center;
    width: 500px;
    font-size: 36px;
  }
}

@media (max-width: 390px) {
  .form {
    padding: 0 4%;
  }

  .form label,
  .form input,
  .form input::placeholder {
    font-size: 2.5vw;
  }

  .buttons-green-pill {
    flex-direction: column;
    place-items: center;
    gap: 00px;
  }
}
