* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Space Mono;
  max-width: 1600px;
  margin: auto;
  background-color: #2bcfd9;
  color: #207191;
}

@media (min-width: 1313px) {
  body {
    font-size: 140%;
  }
}

@media (max-width: 1600px) {
  body {
    font-size: 120%;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 110%;
  }
}

@media (max-width: 688px) {
  body {
    font-size: 100%;
  }
}

nav {
  display: flex;
  justify-items: center;
  align-items: center;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  max-width: 1400px;
  margin: auto;
}

.hero-container {
  width: 99.2%;
  display: flex;
  align-items: center;
  margin-top: 0px;
  position: relative;
  max-width: 1400px;
}

.hero-container .btn {
  position: absolute;
  margin: auto;
  top: 52%;
  left: 75.9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffe171;
  color: #207191;
  font-size: 1.5vw;
  padding: 1vw 6vw;
  border: none;
  cursor: pointer;

  text-align: center;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: 50px;
  text-align: center;
  margin: 0px;
}

h3 {
  font-family: "Space Mono", monospace, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  font-size: 4vw;
  color: #0e0333;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  line-height: 120%;
}

h4 {
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin: 0px;
  font-size: 3vw;
  color: #207191;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  line-height: 120%;
}

h5 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  font-size: 8vw;
  color: #ffe171;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  line-height: 120%;
}

.coordination-party-hero-description {
  width: 0 auto;
  margin: 0 auto;
}

.coordination-party-hero-description .title {
  font-family: "Space Mono", monospace, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  font-size: 4vw;
  color: #0e0333;
  text-align: center;
  text-justify: center;
  margin-top: 4px;
  line-height: 120%;
}

a {
  color: hotpink;
}

a:hover {
  color: #ffe171;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.pledge-container {
  position: relative;
  top: -25vw;
  z-index: 1;
}

.gitcoin-brand {
  display: flex;

  padding-top: 70px;
  padding-bottom: 154px;
  padding-right: 35px;
  padding-left: 35px;
  justify-content: center;
  align-items: center;
}

.gitcoin-brand img {
  width: 178px;
}

/* Form Styles */
.form {
  display: flex;
  max-width: 478px;
  margin: 0 auto;
  flex-direction: column;
  place-items: center;
  font-family: Space Mono, sans-serif;
}

.form2 {
  display: flex;
  max-width: 478px;
  margin: 0 auto;
  flex-direction: column;
  place-items: center;
  font-family: Space Mono, sans-serif;
}

.form label {
  width: 552px;
  height: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  font-size: 4vw;
  line-height: 46px;
  text-align: center;
  color: #0e0333;
}

.form label.top {
  margin-top: 52px;
}

.form input {
  width: 100%;
  height: 80px;
  background: #31dbe5;

  border: 1px solid #207191;
  border-radius: 8px;
  outline: none;
  text-align: center;
  font-size: 30px;
  font-size: 4vw;
  font-family: Space Mono, sans-serif;
  color: #ffffff;
}

hover {
  background-color: #02e2ac;
  border-color: #02e2ac;
}

.form input::placeholder {
  margin-top: 100px;
  color: #02e2ac;
  font-family: Space Mono, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.buttons-green-pill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.buttons-green-pill a {
  width: 147px;
  height: 30px;
  font-family: Space Mono, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  text-decoration: underline;
  color: #6f3ff5;
}

/* first button*/
.buttons-green-pill button:first-child {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.buttons-green-pill button:first-child img {
  width: 13px;
  height: 13px;
  margin-right: 13px;
}

/* second button */

.buttons-green-pill button:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  height: 60px;
  background: #02e2ac;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.buttons-green-pill button:last-child img {
  width: 30px;
  height: 30px;
  margin-right: 22px;
  margin-left: 26px;
}

.buttons-green-pill button:last-child p {
  width: 67px;
  height: 24px;
  font-family: Libre Franklin, Arial, Space Mono, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #e6fff9;
  margin-right: 38px;
}

/* End */

/* GreenPill */
.background-bubble {
  max-width: 1400px auto;
  background-image: url(../image/background-top-bubble.svg);
  background-color: #2bcfd9;
}

.background-pledge {
  max-width: 1400px auto;
  background-image: url(../image/reee.svg);
  background-color: #2bcfd9;
}

.background-greenpill {
  background-image: url(../image/background-greenpill.svg);
}

/* Responsive Style */

@media (max-width: 1280px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .coordination-hero-description {
    margin: 0;
  }

  .coordination-hero-description .title {
    font-size: 64px;
    text-align: center;
    justify-content: center;
    color: #ffcc00;
  }
}

@media (max-width: 760px) {
  .form label {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .coordination-party-hero-description {
    width: auto;
  }

  .coordination-party-hero-description .title {
    text-align: center;
    width: 500px;
    font-size: 36px;
  }

  .form {
    padding: 0 2%;
  }

  .gitcoin-brand {
  }

  .form label {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .form {
    padding: 0 4%;
  }

  .form label,
  .form input,
  .form input::placeholder {
    font-size: 18px;
  }

  .buttons-green-pill {
    flex-direction: column;
    place-items: center;
    gap: 00px;
  }
}
